/* 
* @Author: darkless
* @Date:   2015-06-29 15:38:58
* @Last Modified by:   darkless
* @Last Modified time: 2015-08-07 15:21:29
*/

/*Initial*/

body{
    font-family: 'Open Sans','helvetica',arial,sans-serif;
    font-weight: 400;
    color: #62686f;
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

title{
    text-transform: capitalize;
}

header#header{
    padding: 30px 60px;
    margin: 15px 0;
    height: 120px;
    background-color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 10px #007799;
    box-shadow: 0 0 15px #000;
    border-radius: 5px;
}

pre{
    font: inherit;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 35px;
}

header p{
    text-align: center;
}

p#intro{
    text-transform: capitalize;
}

div#container{
    width: 960px;
    margin: 6px auto;
}

div.cont_left,
div.cont_right{
    border-radius: 10px;
    box-shadow: 0 0 15px #000;
}

/*Part_button*/
.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: capitalize;
}


.btn_success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn_primary{
    background-image: linear-gradient(to bottom, #337AB7 0px, #265A88 100%);
    background-repeat: repeat-x;
    border-color: #245580;
    background-color: #337AB7;
    border-color: #2E6DA4;
    color: #FFFFFF;
}

/*Part_Nav*/
ul.nav_ul{
    list-style-type: none;
    margin: 15px 0;
    margin-bottom: 70px;
    padding: 0;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 15px #000;
    box-sizing: border-box;
    overflow: hidden;
}

li.nav_li{
    box-sizing: inherit;
    float: left;
    width: 25%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    font-weight: bolder;
}

ul.nav_ul li a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

/*Part_Left*/
div.cont_left{
    float: left;
    background-color: #fff;
    width: 25%;
    padding: 30px 50px;
    margin-top: 65px;
}

.aboutCreater p{
    font-weight: 400;
    text-transform: capitalize;
}

.aboutCreater{
    margin-top: 60px;
    font-size: 10px;
    text-align: center;
}

div.cont_left header{
    width: 100%;
}

p.name{
    font-weight: 600;
    font-size: 18px;
    text-shadow: 0px 0px 5px #fff;
}

.aboutCreater header img{
    border-radius: 50%;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: -160px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    box-shadow: 0 0 15px #000;
}

div.imgs_div{
    position: relative;
    height: 90px;
    overflow: hidden;
    margin: 60px 0;
}

ul.imgs_ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
}

li.imgs_li{
    float: left;
}

li.imgs_li img{
    width: 120px;
    height: 90px;
}
.aboutDiscuession .btn{
    margin-top: 10px;
}

textarea.discuession{
    resize: none;
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.aboutDiscuession label{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

input[type="text"]{
    margin-top: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/*Part_Right*/
div.cont_right{
    float: right;
    background-color: #fff;
    width: 60%;
    padding-bottom: 120px;
}

h2{
    margin: 0 60px;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}

h2::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 100px;
    border-bottom: 2px solid #000;
}

#right_part a{
    text-decoration: none;
    color: inherit;
}

#right_part a:visited{
    color: inherit;
}

/*.content::after{
    content: "";
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #000;
    width: 450px;
}*/

.cont_right{
    padding-top: 60px;
}

/*Part_footer*/
footer{
    clear: both;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    padding-top: 30px;
}

/*------------------------------------------------*/
/*Child_pages CSS*/
div.img_scroll_div{
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 15px #000;
    border-radius: 5px;
}
ul.img_scroll_ul{
    box-sizing: border-box;
    background-color: pink;
    height: 320px;
    position: relative;
}
