/* 
* @Author: darkless
* @Date:   2015-07-09 20:22:14
* @Last Modified by:   darkless
* @Last Modified time: 2015-08-19 21:05:36
*/


.content{
    text-align: justify;
    text-indent: 20px;
    padding: 30px 60px;
    word-wrap: break-word;
}